@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#753682), to(#bf2e34));
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  width: 100rem;
  height: 60rem;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  -webkit-filter: blur();
          filter: blur();
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* ABSOLUTE POSITIONED ELEMENTS */
}

main .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem 2.3rem;
  border-radius: 50rem;
  -webkit-box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

main .btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

main .btn--new {
  top: 4rem;
}

main .btn--roll {
  top: 39.3rem;
}

main .btn--hold {
  top: 46.1rem;
}

main .btn:active {
  -webkit-transform: translate(-50%, 3px);
          transform: translate(-50%, 3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

main .btn:focus {
  outline: none;
}

main .dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

main .player--winner {
  background-color: #2f2f2f;
}

main .player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

main .hidden {
  display: none;
}

section {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

section .score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

section .current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem 2rem;
  text-align: center;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  display: block;
}

section .current .current-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #ddd;
  margin-bottom: 1rem;
}

section .current .current-score {
  font-size: 3.5rem;
  padding: 0px;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */